<!DOCTYPE html>
<html ng-app="booksForAll" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books For All</title>
    <!--CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!--JS-->
    <script src="js/libs/jquery-3.2.1.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/utils/constants.js"></script>
    <script src="js/utils/utils.js"></script>
    <script src="js/utils/server.js"></script>
    <script src="js/utils/directives.js"></script>
    <script src="js/controllers/main-controller.js"></script>
</head>
<body ng-controller="MainCtrl">

<nav class="navbar navbar-default" ng-include="'navbar.html'"></nav>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">BookForAll</a></li>
        <li class="active">Explore</li>
    </ol>

    <div class="center-content">
        <input name="search" type="text" ng-model="searchText" class="large-search-input"
               placeholder="Type to search books" ng-enter="search()"/>
    </div>
    <div class="center-content">
        <button class="btn btn-primary" ng-click="search()">
            Search Books
        </button>
    </div>
    <br/>
    <br/>
    <div class="section">Latest Books</div>
    <div class="books-snippet">
        <div class="book-small" ng-repeat="book in featuredBooks" ng-click="openBookById(book)">
            <img src="{{book.iconPath}}"/>
            <br/>
            {{book.name}}
        </div>
    </div>
</div>


</body>
</html>