<!DOCTYPE html>
<html ng-app="booksForAll" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Books For All</title>
    <!--CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!--JS-->
    <script src="js/libs/jquery-3.2.1.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/utils/server.js"></script>
    <script src="js/utils/directives.js"></script>
    <script src="js/controllers/login-controller.js"></script>
</head>
<body ng-controller="LoginCtrl" style="display: none">


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><h1 class="logo">BooksForAll</h1></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Signed in as {{user != null && user.username}}</p></li>
                <li>
                    <a href="register.html">
                        <button class="btn navbar-btn btn-primary" ng-click="logout()">
                            Register For Free
                        </button>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container-fluid no-padding">
    <div class="top-banner flex-row">
        <div class="spacer"></div>
        <div class="login-layout">
            <div class="login-title">Get started. it's free</div>
            <div class="login-subtitle">Make BooksForAll reading more joyful</div>

            <div class="alert alert-danger small-error" role="alert"
                 ng-show="errorMessage != null && errorMessage.length > 0">
                {{errorMessage}}
            </div>

            <div class="input-with-icon">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <input id="username" name="username" class="transparent-input" ng-disabled="loading"
                       type="text" autocomplete placeholder="Username" ng-model="username"
                       ng-enter="!isFieldsDisabled() && login()"/>
            </div>
            <div class="input-with-icon">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                <input id="password" name="password" class="transparent-input" ng-disabled="loading"
                       type="password" autocomplete placeholder="Password" ng-model="password"
                       ng-enter="!isFieldsDisabled() && login()"/>
            </div>
            <button id="loginButton" ng-disabled="isFieldsDisabled()" class="btn btn-primary" ng-click="login()">
                {{loading ? "Loading..." : "Login"}}
            </button>
        </div>
    </div>
    <div class="reviews-banner">
        "Finally, an elegant yet powerful ePub reader on PC, it sure makes reading ebook more joyful" <span>by Matt. Florida</span>
    </div>
</div>
</body>
</html>