<!DOCTYPE html>
<html ng-app="booksForAll" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - Books For All</title>
    <!--CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/register.css" rel="stylesheet">
    <!--JS-->
    <script src="js/libs/jquery-3.2.1.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/utils/constants.js"></script>
    <script src="js/utils/utils.js"></script>
    <script src="js/utils/server.js"></script>
    <script src="js/utils/directives.js"></script>
    <script src="js/controllers/register-controller.js"></script>
</head>
<body ng-controller="RegisterCtrl" style="display: none">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><h1 class="logo">BooksForAll</h1></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="login.html" class="nav-button-link">
                        <button class="btn navbar-btn btn-primary">
                            Login
                        </button>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>


<div class="container-fluid register-container">
    <div class="register-layout">
        <div class="login-title">Register Now</div>
        <div class="login-subtitle">It's free</div>

        <div class="alert alert-danger small-error" role="alert"
             ng-show="errorMessage != null && errorMessage.length > 0">
            <pre>{{errorMessage}}</pre>
        </div>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <input id="username" name="username" class="transparent-input" ng-disabled="loading"
                   pattern="[0-9A-Za-z]{1,10}" type="text" autocomplete placeholder="Username"
                   ng-model="username"/>
        </div>
        <div class="input-with-icon">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            <input id="password" name="password" class="transparent-input" ng-disabled="loading"
                   type="password" autocomplete placeholder="Password"
                   pattern="[0-9A-Za-z]{1,8}" ng-model="password"/>
        </div>
        <div class="input-with-icon">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            <input id="confirmPassword" name="password" class="transparent-input" ng-disabled="loading"
                   type="password" autocomplete placeholder="Confirm Password"
                   ng-model="confirmPassword"/>
        </div>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <input id="nickname" name="nickname" class="transparent-input" ng-disabled="loading"
                   type="text" autocomplete placeholder="Nickname"
                   pattern="[A-Za-z0-9 ]{1,20}" ng-model="nickname"/>
        </div>
        <hr/>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <input id="email" name="email" class="transparent-input" ng-disabled="loading"
                   type="email" autocomplete placeholder="Email" ng-model="email"/>
        </div>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <input id="phone" name="phone" class="transparent-input" ng-disabled="loading"
                   type="text" autocomplete placeholder="Phone" ng-model="phone"/>
        </div>

        <hr/>
        <div class="input-with-icon">
            <select title="country" name="country" ng-model="country" class="select-input">
                <option selected value="">Select Country</option>
                <option ng-repeat="country in countries" value="{{country}}">{{country}}</option>
            </select>
        </div>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <input id="city" name="city" class="transparent-input" ng-disabled="loading"
                   type="text" autocomplete placeholder="City"
                   pattern="[A-Za-z ]{3,255}" ng-model="city"/>
        </div>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
            <input id="street" name="street" class="transparent-input" ng-disabled="loading"
                   type="text" autocomplete placeholder="Street Name"
                   pattern="[A-Za-z ]{3,255}" ng-model="streetName"/>
        </div>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <input id="houseNumber" name="houseNumber" class="transparent-input" ng-disabled="loading"
                   pattern="[0-9]{1,255}" type="number" autocomplete placeholder="House Number"
                   ng-model="houseNumber"/>
        </div>

        <div class="input-with-icon">
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
            <input id="zipcode" name="zipcode" class="transparent-input" ng-disabled="loading"
                   type="number" autocomplete placeholder="ZipCode"
                   pattern="[0-9]{7}" ng-model="zipcode"/>
        </div>

        <hr/>
        <div class="input-with-icon">
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            <input id="photoUrl" name="photoUrl" class="transparent-input" ng-disabled="loading"
                   type="text" autocomplete placeholder="Photo Url (optional)" ng-model="photoUrl"/>
        </div>
        <div class="input-with-icon">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <textarea title="description" placeholder="More info (optional)"
                      name="description" class="transparent-input"
                      ng-disabled="loading" ng-model="description"></textarea>
        </div>

        <button id="loginButton" ng-disabled="loading" class="btn btn-primary" ng-click="register()">
            {{loading ? "Loading..." : "Register"}}
        </button>
    </div>
</div>
</body>
</html>