<!DOCTYPE html>
<html ng-app="booksForAll" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Purchases - Books For All</title>
    <!--CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!--JS-->
    <script src="js/libs/jquery-3.2.1.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/utils/constants.js"></script>
    <script src="js/utils/utils.js"></script>
    <script src="js/utils/server.js"></script>
    <script src="js/utils/directives.js"></script>
    <script src="js/controllers/user-controller.js"></script>
</head>
<body ng-controller="UserCtrl">

<nav class="navbar navbar-default" ng-include="'navbar.html'"></nav>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="index.html">BookForAll</a></li>
        <li class="admin-tab">Admin</li>
        <li><a href="all-users.html">All Users</a></li>
        <li class="active">{{selectedUser.username}}</li>
    </ol>

    <div class="section">User Details</div>
    <div class="key-value"><b>Username:</b>{{selectedUser.username}}</div>
    <div class="key-value"><b>Nickname:</b>{{selectedUser.nickname}}</div>
    <div class="key-value"><b>Role:</b>{{selectedUser.role}}</div>
    <div class="key-value"><b>Email:</b>{{selectedUser.email}}</div>
    <div class="key-value"><b>Phone:</b>{{selectedUser.phoneNumber}}</div>
    <div class="key-value"><b>Description:</b>{{selectedUser.description}}</div>
    <div class="key-value"><b>Country:</b>{{selectedUser.address.country}}</div>
    <div class="key-value"><b>City:</b>{{selectedUser.address.city}}</div>
    <div class="key-value"><b>Street:</b>{{selectedUser.address.street}}</div>
    <div class="key-value"><b>Number:</b>{{selectedUser.address.number}}</div>
    <div class="key-value"><b>Zip:</b>{{selectedUser.address.zip}}</div>
    <br/>
    <div class="key-value">
    <button class="btn btn-danger" ng-click="deleteUser()">Delete</button>
    </div>
    <br/>
    <div class="section">Purchased Books</div>
    <br/>
    <div class="books-snippet">
        <div class="book-small" ng-repeat="book in books" ng-click="openBookById(book)">
            <img src="{{book.iconPath}}"/>
            <br/>
            {{book.name}}
        </div>
    </div>
</div>

</body>
</html>